<html>
    <head>

      <script src="https://cdn.tailwindcss.com"></script>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
     
    </head> 
<body p-0 m-0>
<div id="header"></div>
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  <div class="w-full text-gray-700  dark:text-gray-200 dark:bg-gray-900">
    
     
<div class="w-full grid place-items-center text-5xl h-screen">GACHA GAME IN NODEJS

  


</div>

<div class="container" align="center">



</div> <!-- container -->
</body>
</html>

<script>
  $("#header").load("navbar");
  </script>